.clearfix:after{
	content:'';
	clear:both;
	display:table;
	overflow:hidden;
}
.title_about {}
.sub-title {}
.block_about {
	margin:auto;
}
.item_about_img {}
.title_about_us {
	width: 25%;
	text-align:right;
}
.sub_about_us {
	width: 60%;
}
.item_about_img_r {}
.item_1,.item_2,.item_3,.item_4{
	width: 50%;

}
.item_1 img, .item_3 img {

.item_2 img, .item_4 img{

}
.item_2 {

}
.item_3 {}
.item_4 {}