.about{
	width: 100%;
	margin: 0 auto;
}
.title-about{
	width: 250px;
	height: 30px;
	color: #222;
	font-family: Montserrat;
	font-size: 40px;
	font-weight: 700;
	line-height: 75px;
	text-transform: uppercase;
	margin: 120px auto 19px;
}
.sub-title{
	width: 295px;
	height: 17px;
	color: #777;
	font-family: DroidSerif;
	font-size: 16px;
	font-style: italic;
	margin: auto;
	padding-top: 19px;
}
.cont{
	width: 100%;
	text-align: center;
	padding-top:84px;
	margin:auto;
}
.col-1{
	width: 330px;
	text-align: right;
	padding:0 0 0 20px;
	float: left;
	}
.col-2{
	width: 330px;
	text-align: left;
	padding:0 0 0 20px;
	float: right;
	}
img{
	width: 182px;
	height: 170px;
	margin:auto;
	}
.img1{
		width: 200px;
		float:left;
	}
h3{
	width: 350px;
	height: 43px;
	color: #222;
	text-align:right;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
h3 p{
	text-transform: capitalize
}

