/* reset browser styles */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
	margin: 0;
}
ol { 
	padding-left: 1.4em;
	list-style: decimal;
}
ul {
	padding-left: 1.4em;
	list-style: square;
}
table {
	border-spacing: 0;
} 
/* end reset browser styles */
.clearfix::after{
	content:'';
	clear: both;
	overflow: hidden;
	display: block;
}
.wrap {
	overflow-y: hidden;
}
.header{
	position: relative;
}
.header-top {
	position: absolute;
	top: 5%;
	left: 5%;
	right: 5%;
}
.logo {
	width: 8%;
}
.menu {
	float: right;
	line-height: 400%;
}
.slide {
	height: 750px;
	background: url('../image/background_header.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}
.title {
	color: #303030;
	font-family: Montserrat;
	font-size: 30px;
	font-style: italic;
}
.title_inside_slide{
	width: 100%;
	padding-top: 10%;
}
.tell_me { font-family: Montserrat; font-size: 1.1em; font-weight: 700; width: 15.6%; height: 9.5%; margin: 0 0 0 43%; transition: all .3s ease .15s; text-transform: uppercase; color: white; border-radius: 0.2em; background: #fed136;
}
.services{
	width: 80%;
	margin: 6.5% auto;
}
.cont{
	width: 80%;
	text-align: center;
	margin: 1% auto;
}
.commerce,
.web,
.security{
	width: 20%;
	display: inline-block;
	text-align: center;
	margin: 4%;
}
.pic_services-basket{ width: 50%; margin: 0 auto; margin-top: 24%; padding-bottom: 15%;}
.pic_services-laptop{ width: 50%; margin: 0 auto; margin-top: 28%; padding-bottom: 16%;}
.pic_services-lock{ width: 40%; margin: 0 auto; margin-top: 21%; padding-bottom: 16%;}

.background{
	border: 3px solid #fed136;
	border-radius: 100%;
	width: 35%;
	background-color: white;
	border: 0.3em solid #fed136;
	list-style-type: none;
	margin: 0 auto;
	transition: all .4s ease .15s;
}
.background:hover,
.tell_me:hover {
	position: static;
	visibility: visible;
	opacity: 0.8;
	cursor: pointer;
	background-color: #696969;
	border: 0.3em solid #696969;
}
.title-commerce,
.title-web,
.title-security{
	color: #222;
	font-family: Montserrat;
	font-size: 2em;
	font-weight: 700;
}
.title-portfolio{
	width: 24%;
	color: #222;
	font-family: Montserrat;
	font-size: 2.5em;
	font-weight: 700;
	line-height: 1.33em;
	text-transform: uppercase;
	margin: 0 auto;
	white-space: nowrap;
}
.gallery{
	max-width: 100%;
	background-color: #f7f7f7;
}
.gallery_inside{
	max-width: 95%;
	padding: 5%;
}
.prtflio{
	max-width: 75%;
	margin: 3% auto;
}
.prtflio_item{
	list-style-type: none;
	float: left;
	margin: 2% ;
	background-color: white;
	transition: all .3s ease .15s;
}
.prtflio_item:hover{
	cursor:pointer;
	opacity: 0.7;
}
.prtflio_pic{
	max-width: 100%;
}
.container{
	width: 940px;
	margin: 5% auto;
}
.about_title{
	width: 25%;
	color: #222;
	font-family: Montserrat;
	font-size: 2.5em;
	font-weight: 700;
	line-height: 1.4em;
	text-transform: uppercase;
	margin: 0 auto;
}
.about {
	text-align: right;
	margin-top: 10%;
}
.about_item {
	margin-bottom: 8%;
	list-style-type: none;
}
.about_text{
	width: 37%;
	float: left;
}
.about_item:nth-of-type(2n) .about_text{
	float: right;
	text-align: left;	
}
.about_item:nth-of-type(2n) .about_img{
	float: right;
}
.about_img {
	width: 20%;
	margin: 0 3%;
	float: left;
	border-radius: 50%;
}
.about_img img{
	border: 7px solid #f1f1f1;
	border-radius: 100%;
}
.about_button{
	/* Style for "Container" */
	width: 182px;
	height: 182px;
	background-color: #fed136;
	border: 1em solid #f1f1f1;
	border-radius: 100%;
	margin-right: 39%;
	transition: all .7s ease .15s;
}
.about_button:hover{
  	opacity: 0.5;
   	background: #696969;			
}
.text_for_btn{
   	/* Text style for "Our Story Cont" */
	width: 100px;
	height: 94px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
	color: white;
	font-family: Montserrat;
	font-size: 1.35em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-left: 15%;
}
.block{
    margin: 0 auto;
    padding: 5%;
    background-color: #f9f9f9;
}
.black{
	border-radius:50%;
}
.step1{
    display: inline-block;
    margin: 5%;
}
.contain{
	width: 80%;
    text-align: center;
    margin: 0% auto;
}
.tw {width: 50%; height: 47%;}
.fb{width: 25%; height: 50%;}
.pin{width: 40%; height: 50%;}
.gog{width: 45%;height: 45%;}

.icons { line-height: 3; float: left; width: 22%; height: 40px; margin: 4%; list-style-type: none; transition: all .3s ease .15s; text-align: center; border: 3px solid #222; border-radius: 80%; background-color: #f9f9f9;}
.icons:hover{
    cursor: pointer;
    opacity: 1;
    border: 3px solid #fffafa;
    background: #fffafa;
}
.ic{
    width: 78%;
    margin: 0 auto;
}
.ic_s{
    width: 75%;
 	margin-left: 25%;
}
.descr{
    font-family: Roboto Slab;
    font-size: 1em;
    font-weight: 400;
    /* Text style for "Proin iaculis" */
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: #777;
}
.footer_head{
	text-align: center;
}
.media {
	list-style-type: none;
}
.correct{
	margin-bottom: 5%;
}
.media_img {
	display: inline-block;
	margin: 2%;
}
.footer_content{
	width: 100%;
	height: 42em;
	background: url('../pic/map-image.png') 100% 100% no-repeat #222;
	background-position: right 8em;
}
.title_footer{
	/* Text style for "Contact us" */
	color: white;
	font-family: Montserrat;
	font-size: 2.5em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}
.form_input{
	width: 49%;
	float: left;
}
.footer_textarea{
	width: 49%;
	float: right;
}
.form_content{
	width: 55%;
	margin: 0 auto;
	padding-top: 8%;
}
.form1{
	width: 90%;
	padding: 4%;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 0.1em;
	color: #bbb;
	font-family: Montserrat;
	font-size: 1.04em;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 5.5%;
}
.form2{
	width: 90%;
	padding: 4%;
	background-color: white;
	border: 1px solid #ccc;
	border-radius: 0.1em;
	color: #bbb;
	font-family: Montserrat;
	font-size: 1.04em;
	font-weight: 700;
	text-transform: uppercase;
}
.social{
	width: 25%;
	margin: 0% auto;
	text-align: center;
}
.section_footer{
	padding: 1%;
}
.ic-f{
	/* Style for "Google+ Backgr" */
	width: 2.5em;
	height: 2.5em;
	background-color: #222;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	line-height: 3;
	margin: 1%;
	transition: all .5s ease .15s;
}
.ic-f:hover{
	opacity: 0.8;
	cursor: pointer;
	background-color: #696969;
}
.tw-w{width: 50%; height: 45%;}
.fb-w{width: 25%; height: 50%;}
.pin-w{width: 40%; height: 50%;}
.gog-w{width: 50%;height: 48%;}