.services{
	width: 934px;
	height: 330px;
}
.title-services{
	width: 193px;
	height: 30px;
	color:#222;
	font-family: Montserrat;
	font-size:40px;
	font-weight: 700;
	line-height:75px;
	text-transform: uppercase;
}
.sub-title{
	width: 296px;
	height: 17px;
	color: #777;
	font-family: DroidSerif;
	font-style: italic;
}
.commerce,
.web,
.security{
	width: 274px;
	height: 189px;
}
.title-commerce{
	width: 115px;
	height: 14px;
	color: #222;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 75px;
}
.title-web{
	width: 114px;
	height: 18px;
	color: #222;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 75;
}
.title-security{
	width: 118px;
	height: 18px;
	color: #222;
	font-family: Montserrat;
	font-size: 18px;
	font-weight: 700;
	line-height: 75px;
}
.description{
	width: 274px;
	height: 57px;
	color: #777;
	font-family: RobotoSlab;
	font-size: 14px;
	font-weight: 400;
}
