
.title_main {
	color: #222;
font-family: Montserrat;
font-size: 40px;
font-weight: 700;
line-height: 75px;
text-transform: uppercase;
}  

.title_under {
	color: #777;
font-family: DroidSerif;
font-size: 16px;
font-style: italic;
}

.only_text {
color: #777;
font-family: RobotoSlab;
font-size: 14px;
font-weight: 400;
}

.container {
	width: 940px;
	 margin: 0 auto;
} 

